$gridCollapseSmall: 750px;
$gridCollapseExtraSmall: 500px;

.grid-wrap { overflow: hidden; }

.grid {

	margin-left: -20px; 
	margin-top: 20px; 
	margin-bottom: 20px;
	@include flex-flow( row wrap );
	@include display( flex );	
	
	&.centered { @include justify-content( center ); }

	&.vcenter { @include align-items( center ); }
	
	&.eqh {
	
		@include align-items( stretch );

		&>.col {
			@include display( flex );
			
			&>.item { @include flex-grow( 1 ); }
		}
	
	}
}

.col {
	
	&.first {
		@include order( -1 );
	}
	
	padding-left: 20px;
	padding-bottom: 20px;
	
	&>.item,
	&>div {
		width: 100%;
		display: block;
	}
	
}

.grid.fill>.col { 
	@include flex-grow(1);
}

.grid.nopad { margin-left:0; }
.grid.nopad>.col { padding: 0; }
.grid.pad40 { margin-left: -40px; }
.grid.pad40>.col { padding-left: 40px; padding-bottom: 40px; }
.grid.pad10 { margin-left: -10px; }
.grid.pad10>.col { padding-left: 10px; padding-bottom: 10px; }
.grid.pad5 { margin-left: -5px; }
.grid.pad5>.col { padding-left: 5px; padding-bottom: 5px; }

.col-6 { width: 16.6666667%; }
.col-5 { width: 20%; }
.col-4 { width: 25%; }
.col-3 { width: 33.333333%; }
.col-2 { width: 50%; }
.col-1 { width: 100%; }
.col-2-3 {  width: 66.666667%; }

.col-4-5 { width: 80%; }
.col-3-5 { width: 60%; }
.col-2-5 { width: 40%; }
.col-1-5 { width: 20%; }

@media screen and (max-width: 900px) {
	.col-900-6 { max-width: 16.6666667%; }
	.col-900-5 { width: 20%; }
	.col-900-4 { width: 25%; }
	.col-900-3 { width: 33.333333%; }
	.col-900-2 { width: 50%; }
	.col-900-1 { width: 100%; }
	.col-900-2-3 {  width: 66.666667%; }

	.col-900-4-5 { width: 80%; }
	.col-900-3-5 { width: 60%; }
	.col-900-2-5 { width: 40%; }
	.col-900-1-5 { width: 20%; }
}

@media screen and (max-width: $gridCollapseSmall) {
	.sm-col-6 { width: 16.6666667%; }
	.sm-col-5 { width: 20%; }
	.sm-col-4 { width: 25%; }
	.sm-col-3 { width: 33.333333%; }
	.sm-col-2 { width: 50%; }
	.sm-col-1 { width: 100%; }
	.sm-col-2-3 {  width: 66.666667%; }

	.sm-col-4-5 { width: 80%; }
	.sm-col-3-5 { width: 60%; }
	.sm-col-2-5 { width: 40%; }
	.sm-col-1-5 { width: 20%; }
}

@media screen and (max-width: $gridCollapseExtraSmall) {
	.xs-col-6 { width: 16.6666667%; }
	.xs-col-5 { width: 20%; }
	.xs-col-4 { width: 25%; }
	.xs-col-3 { width: 33.333333%; }
	.xs-col-2 { width: 50%; }
	.xs-col-1 { width: 100%; }
	.xs-col-2-3 {  width: 66.666667%; }

	.xs-col-4-5 { width: 80%; }
	.xs-col-3-5 { width: 60%; }
	.xs-col-2-5 { width: 40%; }
	.xs-col-1-5 { width: 20%; }
}

/* split screen */
.split-screen {

	background: #fff center center repeat-y; padding: 20px 0;
	
	&.dark-left .col:first-child,
	&.dark-right .col:last-child {
		/* dark background color */
	}

	.col { 
		position: relative;
		@include align-items( center );
	}
	
	&.t .col { @include align-items( flex-start ); }
	
	&.l .col { text-align:left; }
	
}

/* split-block */
.split-block { position: relative; overflow:hidden;}
.split-block-container .sw { max-width: 100%; }
.split-block .img-wrap { position: absolute; top:0; bottom:0; background: center no-repeat; background-size: cover; width: 50%;}
.split-block .content { padding: 40px 0; width: 50%; min-height: 275px; position: relative; }
.split-block .content .inner { display: inline-block; vertical-align: middle; }
.split-block.img-left .content { padding-left: 40px; float:right;}
.split-block.img-left .img-wrap { left:0; }
.split-block.img-right .img-wrap { right:0; }
.split-block.img-right .content { padding-right: 40px; }

/* responsive grid */
@each $size in 1000,900,850,800,750,700,650,599,500,450 {

	@media screen and (max-width: #{$size}px) {
		.no-#{$size} { display: none !important; }
		
		.collapse-#{$size} {
			margin-left:0;
			
			>.col {
				&.first {
					@include order( inherit );
				}
			}
			
		}
		
		.collapse-#{$size}>.col>.item,
		.collapse-#{$size}>.col { width: 100% !important; display:block; padding-left:0;}
		
		.split-screen.collapse-#{$size} { 
			background-image: none !important; 
			
			.grid.ss {
			
				&>.col {
					padding-top: 20px;
					padding-bottom: 20px;
					
					.dark-left &:first-child,
					.dark-right &:last-child { background: #000; }
					
					&:before,
					&:after { display: none; }
				}
			
			}
			
		}
		
	}
	
}

@media screen and (max-width: 1000px) {
	.split-block .content { padding: 20px !important; }
}

@media screen and (max-width: 700px) {
	.split-block .content { min-height:0; }
	.split-block-container+.split-block-container { border-top: 1px solid #ddd; }
	.split-block .img-wrap { display: none; }
	.split-block .content { width: auto; }
}