/* font awesome */
@import "../../bower_components/fontawesome/scss/font-awesome";

/* fonts */
@mixin declare-font-face($font-family, $font-filename, $path, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
		font-family: $font-family;
		src: url('#{$path}#{$font-filename}.eot'); /* IE9 & compatibility modes */
		src: url('#{$path}#{$font-filename}.eot?#iefix') format('eot'), /* IE6-8 */
		/* url('#{$path}#{$font-filename}.woff2') format('woff2'), /* Blink */
		url('#{$path}#{$font-filename}.woff') format('woff'), /* Firefox, Opera */
		url('#{$path}#{$font-filename}.ttf') format('opentype'), /* Chrome */
		url('#{$path}#{$font-filename}.svg##{$font-filename}') format('svg'); /* Safari */
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}

@include declare-font-face('JCWF-WeatherShore','weathershore','../fonts/weathershore/');

/* myriad pro */
@include declare-font-face('Myriad Pro','myriad-pro-regular','../fonts/myriad-pro/regular/');
@include declare-font-face('Myriad Pro','myriad-pro-bold','../fonts/myriad-pro/bold/',bold);
@include declare-font-face('Myriad Pro','myriad-pro-bold-italic','../fonts/myriad-pro/bold-italic/',bold,italic);
@include declare-font-face('Myriad Pro','myriad-pro-italic','../fonts/myriad-pro/italic/',normal,italic);

$defaultFontStack: Myriad Pro,helvetica,arial,sans-serif;
$headingFontStack: grafolita-script,georgia,serif;
$weatherShoreFont: JCWF-WeatherShore;

/* character mapping for weather shore font */
$wsfCharacterMapping: (
	'doors' "a",
	'exterior' "j",
	'windows' "i",
	'w-awning' "h",
	'w-casement' "e",
	'w-slider' "b",
	'w-single-hung' "c",
	'w-bay' "f",
	'w-bow' "g",
	'w-picture' "d"
);

.wsf {
	&:before {
		text-transform: none !important;
		font-family: $weatherShoreFont;
	}
	
	@each $map in $wsfCharacterMapping {
	
		$class: #{nth($map,1)};
		$character: #{nth($map,2)};
		
		&.#{$class}:before {
			content: "#{$character}";
		}
		
	}
	
}

/* font awesome */

@mixin t-fa {	
	&:before {
		@include fa-icon();
	}
}

/* for a specific module - like social - where it's easier to use apply styles within the module itself */
@mixin t-fa-abs {
	@include t-fa();
	position: relative; text-indent: -999em; display: inline-block; overflow:hidden;
	&:before {
		position: absolute; top: 50%; left:0; right:0; text-align: center; z-index: 2; text-indent:0; 
	}
}

@mixin t-fa-offset( $fontSize, $lineHeight ) {
	$lineHeight: 1.2 !default;
	line-height: $lineHeight;
	font-size: $fontSize; 
	margin-top: ceil( ($fontSize*$lineHeight)/2 ) * -1;
}

/* when classes are simpler */
.t-fa {
	font-family: $defaultFontStack;
	
	&:before {
		@include fa-icon();
	}
	
	&.t-fa-abs {
		position: relative; text-indent: -999em; display: inline-block; overflow:hidden;	
		&:before {
			position: absolute; top: 50%; left:0; right:0; text-align: center; z-index: 2; text-indent:0; 
		}
		
	}
	
}