/* colors */
$darkBackgroundColor: #2a2a2a;
$lightBackgroundColor: #fff;
$bodyContentColor: #333;

$greenColor: #647c36;
$darkGreenColor: darken($greenColor,12);
$yellowColor: #fcb62d;
$greyColor: #878787;

$darkBackgroundHeadingColor: #fff;
$darkBackgroundContentColor: #fff;

/* body */
$bodyBackgroundColor: #fff;

/* article */
$excerptColor: $bodyContentColor;

/* links */
$linkColor: $darkGreenColor;
$hoverColor: $greenColor;
$visitedColor: $yellowColor;

/* lists */
$listNumberColor: $greenColor;

/* breadcrumbs */
$breadCrumbColor: #{$greyColor};
$breadCrumbColorActive: #{$breadCrumbColor};
$breadCrumbColorHover: #222;