$wrapperWidth: 1200px;
$collapseNavAt: 700px;

/* body */
body { 
	font-family: $defaultFontStack; 
	line-height: 1.4; 
	overflow-x:hidden; 
	background: darken($darkBackgroundColor,10);
}

.page-wrapper { margin: 0 auto; position: relative; width: 1920px; max-width: 100%; }
.sw { width: $wrapperWidth; max-width: 95%; margin: 0 auto; position: relative; }

.body { background: $bodyBackgroundColor; }

.dark-bg { background-color: $darkBackgroundColor; color: $darkBackgroundContentColor;}
.light-bg { color: $bodyContentColor; }
.grey-bg { background-color: #f4f4f4; }
.green-bg { background-color: $greenColor; }

hr { margin: 10px 0; border: 1px solid #ddd; }

.body section { 

	padding: 40px 0; 
	&.nopad { 
		padding:0; 
		
		.grid:last-child { margin-bottom:0; }
		
	}
	
	& + hr { 
		border: solid #efefef;
		border-width: 1px 0;
		margin:0;
	}
	
	
}


.body section.with-img { 
	background-attachment: fixed; /* cool */
	background-size: cover; 
	background-position: center; 
	background-repeat: no-repeat; 
	padding:0; 
	display: table; 
	width: 100%; 
	min-height: 70vh;
	
	&>.sw {
		display: table-cell; 
		vertical-align: middle; 
		padding: 100px 0;
	}
}