/* footer */
footer { 
	font-size: 12px; 
	padding: 30px 0;
	background-color: $darkBackgroundColor; 
	color: $greyColor;
	
	a { 
		color: $greyColor;
		text-transform: uppercase;
		@include transition( color 0.15s $ease-in-out-sine );
		
		&:hover { color: $greenColor; }
	}
	
	.social a {
		display: block; 
	}
	
}

.footer-wrap {
	@include display( flex );
	@include flex-wrap( wrap );
	@include align-items( stretch );
}

.footer-contact { 

	$footerContactWidth: 290px;
	$footerContactBasis: 70px;

	padding-bottom: 30px;
	@include display( flex );
	@include flex-wrap( wrap );
	@include flex( 1  0 $footerContactWidth );
	
	>div {
		@include flex( 0 1 $footerContactBasis );
	}
	
	.address-hours {
		@include display( flex );
		@include justify-content( space-around );
		@include flex( 1 1 #{$footerContactWidth - $footerContactBasis - 40px} );
		@include flex-wrap( wrap );
		
		address {
			margin-bottom: 15px; 
			&:first-line {
				text-transform: uppercase; 
			}
		}
		
		>div { 
			@include flex( 0 1 auto );
			&:first-child { 
				margin-bottom: 20px; 
			}
		}
	}
	
}

footer h6,
.footer-nav ul ul li:first-child { font-weight: bold; margin: 0 0 8px; text-transform: uppercase; font-family: $defaultFontStack;}

.footer-nav-wrap {

	@include flex-grow( 10 );

	.footer-nav { 

		position: relative;

		>ul {
			@include display( flex );
			@include flex-wrap( wrap );
			
			>li { 
				@include flex( 1 1 auto );
				padding: 0 25px 40px 0;
				
				a { 
					display: inline-block; 
					padding: 2px 0; 
				}
				
			}
		}
		
		/* contract log in button */
		.button { 
			position: absolute; bottom:-10px; right:0; color: $darkBackgroundColor;
			&:hover {
				color: $darkBackgroundColor;
			}
		}
	}
}



/* copyright */
.copyright { 
	
	position: relative; 
	font-size: 12px; 
	text-transform: uppercase; 
	padding: 20px 0; 
	cursor: default; 
	margin-top: 20px; 
	border-top: 1px solid $greyColor;
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $greyColor; 
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { position: absolute; right:0; top:50%; margin-top: -12px;  width: 186px; height: 25px; background-size: 186px 50px; z-index: 10; }

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}

@media screen and (max-width: 600px) {
	.copyright { text-align: center; }
	#jac { position: static; display: block; right:0; margin: 20px auto 0;}
}