/* buttons */
/* remove default button styling */
$buttonTextColor: #fff;
$buttonBackgroundColor: #{$yellowColor};
$buttonTextColorHover: #fff;
$buttonBackgroundColorHover: lighten($yellowColor,10);

button { background: transparent; border: none; }

.button { 
	font-family: $defaultFontStack; 
	font-weight:normal; 
	text-transform: uppercase; 
	font-size: 14px; 
	line-height: 1; 
	padding: 10px 16px; 
	display: inline-block; 
	cursor: pointer;
	color: $buttonTextColor;
	background: $buttonBackgroundColor;
	border-radius: 4px;
	@include transition( background 0.2s $ease-in-out-sine );
	
	&.sm {
		font-size: 10px; 
		padding: 6px 10px;
	}
	
	&.big {
		font-size: 18px; 
		padding: 14px 20px; 
	}
	
	&.with-ico {
		&:before { margin-right: 5px; }
	}
	
	&.dark {
		background: $greyColor;
		
		a:hover &,
		&:hover {
			background: darken($greyColor,10); 
		}
		
	}
	
	&.green {
		background: $greenColor;
		
		a:hover &,
		&:hover {
			background: lighten($greenColor,10);
		}
		
	}
	
	a:hover &,
	&:hover {
		color: $buttonTextColorHover;
		background: $buttonBackgroundColorHover;	
	}
	
}
