@import "4.2.1-article";
@import "4.2.2-forms";
@import "4.2.3-accordion";
@import "4.2.4-custom-dropdown";
@import "4.2.5-responsive-video";
@import "4.2.6-social";
@import "4.2.7-hero";
/* @import "4.2.8-dateinput"; */
@import "4.2.9-tabs";
@import "4.2.10-search-overlay";
@import "4.2.11-blocks";
@import "4.2.12-filter-area";

.tooltipster-base {
	background: rgba(0,0,0,0.9);
	width: 450px;
	max-width: 90%; 
	border:none;
}

.tooltip-content {
	display:block;
	padding: 15px; 
}

.with-loading-indicator {
	position:relative;
	&:before {
		@include fa-icon();
		font-size: 40px;
		line-height: 40px;
		position: absolute;
		top: 50%;
		left:0; right:0;
		margin: -20px auto 0;
		text-align: center;
		width: 40px;
		height: 40px;
		display: block; 
		content: $fa-var-refresh;
		@extend .fa-spin;
	}
}

.photoviewer {

	$photoViewerSpacing: 10px;

	@include display( flex );
	
	.thumbs {
	
		@include flex( 2 0 15% );
		padding-right: $photoViewerSpacing;
	
		div {
			margin-top: $photoViewerSpacing;
			&:first-child { margin-top:0; }
		}
	}
	
	.full {
		@include flex( 1 1 85% );
		padding-left: $photoViewerSpacing;
		
	}
	
}

.featured-block {
	@include display( flex );
	@include align-items( center );
	
	color: inherit;
	
	.section-title { width: auto; }
	
	.img-wrap {
		@include flex( 0 1 $wrapperWidth/2 );
		overflow:hidden;
		margin-right: 60px;
		
		.img {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		
		img { visibility: hidden; }
	}
	
	.content-wrap {
		@include flex( 1 1 $wrapperWidth/2 );
	}
	
	.button { margin-top: 20px; }
	
}

@media screen and (max-width: 750px) {
	.featured-block .img-wrap { display: none; }
}

/* bouncing images */
.bounce {

	.img {
		@include transition( all 0.4s $ease-in-out-sine );
	}
	
	&:hover .img {
		@include transition-timing-function( $ease-out-back );
		@include transform ( scale( 1.25, 1.25 ) );
	}
}

/* aspect ratio */
.ar {
	position: relative;
	height:0;
	display: block;
	overflow: hidden;
	
	.ar-child {
		position: absolute;
		display: block;
		top:0; left:0; right:0; bottom:0;
	}
}

.lazybg {

	opacity:0;
	@include transition( opacity 0.25s $ease-in-out-sine );
	background: center no-repeat;
	background-size: cover;

	img { visibility: hidden; }
	
	
	&.with-img { background-size: contain; }
	&.loaded { opacity:1; }
}

.rows .row {
	
	@include display( flex );
	@include justify-content( space-between );
	@include align-items( center );
	
	span {
		@include flex( 1 1 50% );
		padding: 6px;
	}
	
	.l { @include flex-shrink( 3 ); }
	
	.r { text-align: right; }
	
}

.button.bb { 

	padding-left: 35px; padding-right: 35px;
	margin: 0 10px 10px;

	&:before {
		display: block; 
		text-align: center; 
		margin: 8px;
		font-size: 40px; 
	}
}

.section-title { 

	margin: 0 auto 25px; 
	width: 60%; 
	min-width: 280px; 
	max-width: 650px; 
	text-align: center; 
	
	.subtitle { color: $greyColor; }
	
	&.l {
		margin-left: 0;
		margin-right:0;
		text-align: left;
	}
}
.section-excerpt { max-width: 500px; margin: 15px auto; width: 75%; text-align: center; }

/* split screen themed */
.split-screen {

	a.item {
		color: inherit; 
	}

	.col {
		&:first-child {
			&:after { 
				position: absolute; 
				top:-60px; bottom:-60px; right:-10px; 
				content:""; 
				border-right: 1px solid $bodyContentColor; 
				z-index: 1; 
			}
		}		
	}
	
	&.dark-bg {
	
		border-bottom: 1px solid $darkBackgroundContentColor;
	
		.col {
			&:first-child {
				&:after { border-color: $darkBackgroundContentColor; }
			}
		}
	}
	
}

@media screen and (max-width: 1000px) {
	
	.split-screen.collapse-1000 { 
		.col:first-child { border-bottom: 1px solid $bodyContentColor; }
		&.dark-bg .col:first-child { border-color: $darkBackgroundContentColor; }
	}
	
}

/* themed body form */
.body-form .field-wrap.t-fa {

	padding-left: 25px;

	&:before {
		@include t-fa-offset(16px,1.4);
		right: auto; left: 9px;
		color: $greenColor;
	}

}

/* themed swiper */
.swiper-wrapper .links { margin-top: -40px; 

	a {
		@include t-fa-abs();
		opacity:0.3;
		width: 50px; height: 50px; 
		position: absolute; 
		@include transition( opacity 0.2s $ease-in-out-sine );
		
		&:hover { opacity:1; }
		
		&:before {
			@include t-fa-offset(50px,1.2);
			content: $fa-var-angle-left;
		}
		
		&.next {
			&:before { content: $fa-var-angle-right; }
		}
		
	}
	
}

.swiper-wrapper.button-controls .slider-controls { 
	text-align: center; 
	
	a {
		
		border-radius:0;
		width: 14px; height: 14px; 
		border-color: $greyColor;
		background-color: lighten($greyColor,20);
		
		&:hover { background-color: $greyColor; }
		&.selected {
			background-color: $greenColor !important;
		}
		
	}
	
}

/* overview blocks */
.overview-block {
	
	border-top: 1px solid #fff;
	display:block;
	color: inherit;
	background: #fff;
	padding: 40px 0;
	@include transition( 0.2s background $ease-in-out-sine );
	
	&:first-child { border-color: #f4f4f4; }
	.button { margin: 10px 0 0; }

	.section-title { 
		text-align: left;
		margin: 0 0 25px;
		width: auto;
	}

	&:nth-child(odd) {
		background: #f4f4f4;
		.content { padding: 0 0 0 40px; }
		.img-wrap { @include order( -1 ); }
	}

	.sw {
		@include display( flex );
		@include justify-content( space-between );
		@include align-items( center );
	}
	
	.content {
		@include flex( 1 1 610px );
		max-width: 610px; 
		padding: 0 40px 0 0;
	}

	.img-wrap {
	
		@include flex( 0 2 510px );
	
		margin: 0 0 15px; 
		overflow:hidden; 
		position: relative;
		
	}
	
	.img {
	
		width: 100%; 
		height:0;
		padding: 57.5% 0 0;
		background: #000 center no-repeat;
		background-size: cover; 
		opacity:0;
	
		&.loaded { opacity:1; }
		
	}
	
}

a.overview-block {
	&:nth-child(even):hover { background: #f3f3f3; }
	
	&:hover { 
		background: #eaecec; 
		.img { @include transform ( scale( 1.25, 1.25 ) ); }
	}
	
	
}

@media screen and (max-width: $collapseNavAt) {

	.overview-block {
		.img-wrap { display: none; }
		.content { padding:0 !important; }
	}
	
}

.builder-callout-parent {
	padding: 40px 0;
	max-width: 580px;
	margin: 0 auto;
}

.builder-callout {
	
	position:relative;
	padding:0 0 70%;
	cursor: pointer; 
	margin: 0 auto;
	max-width: 700px;

	.section-title { width: auto; }
	.subtitle { color: #fff; }
	
	>div { 
		position: absolute;
		padding: 20px;
		top:0; left:0; right:0; bottom:0;
		background: url(../images/temp/builder.jpg) center no-repeat;
		background-size: cover;
		text-align:center;
		
	}
	
	.launch {
		background: $yellowColor;
		position: absolute;
		bottom:0; left:0; right:0;
		text-align: center;
		padding: 10px; 
	}
}

.callout { 
	
	display: block; 
	padding: 20px; 
	text-align: center;
	
	p { 
		text-align: left; 
		line-height: 1.2;
		margin-bottom: 10px;
		font-size: 20px;
	}
	
}

/* error404 */
.error404 {
	
	.body .btn-group {
	
		width: 600px;
		margin: 20px auto;
		text-align: center;
		max-width: 90%;
		
		.button {
			margin: 0 10px 10px; 
			width: 28%;
			min-width: 150px;
		}
		
	}
	
}

.split-screen .body-form-wrap {
		width: 60%; 
		min-width: 280px;
		text-align:left;
		margin: 0 auto;
		
		.body-form { margin: 10px 0 0; }
		
}

/* themed article */
.time {
	
	$borderRadius: 4px;
	
	color: #fff;
	text-align: center; 
	
	.tag {
		background: $yellowColor; 
		display: block;
		text-transform: uppercase; 
		padding: 4px; 
		margin-bottom: 2px;
		border-radius: $borderRadius;
	}
	
	time {
		&>span {
			display: block;
			background: $greenColor;
			margin-bottom: 2px;
			border-radius: $borderRadius;
		}
		
		.day { 
			font-size: 40px; 
			padding: 10px 0; 
			line-height:1;
		}
		
		.month-year { 
			line-height: 1; 
			padding: 8px 4px;
		}
		
		.month { 
			font-size: 24px;
			text-transform: uppercase; 
			display: block; 
		}
		
		.year { font-size: 20px; }
	}
	
}

@media screen and (max-width: 500px ) {
	
	.main-body>.time {
	
		@include flex( 0 1 auto );
		width: 100%; 
		margin: 0 0 10px;
		
		.tag { 
			width: 100%; 
			margin: 0 0 5px; 
		}
		
		time { 
		
			@include display( flex ); 
			
			&>span { @include flex( 1 0 auto ); }
			
			.day { margin: 0 5px 0 0; }
			.month-year { margin: 0 0 0 5px; }
			
		}
		
	}
	
}

/* themed sidebar */
.sidebar {
	
	&>div {
		margin: 0 0 20px;
	}
	
	.title { 
		background: $greenColor; 
		color: #fff; 
		font-family: $defaultFontStack;
		border-radius: 4px 4px 0 0;
		padding: 10px 14px;
		line-height: 1;
		margin:0;
	}
	
}

/* themed accordion */
.accordion {
	.accordion-item-handle {
	
		line-height:1;
		font-size:16px;
		
		&:before {
			left: auto; right: 12px;
			content: $fa-var-angle-down;
		}
	}
	
	.accordion-item {
		border-bottom: 1px solid #fff;
	}
	
}

/* faq accordion */
.faq-accordion {
	margin-top: 40px;
	
	.accordion-item { padding-bottom: 15px; }
	
	.accordion-item-handle { 
		border-radius: 6px; 
		text-transform: none;
		background: $greenColor; 
	}
	
	.accordion-item-content {
		background: transparent;
		padding: 15px;
	}
	
}

#question-form {

    padding-left:  40px;
    padding-top:  10px;
    padding-bottom: 10px;
    float: right;
    width:  90%;
	border-radius: 8px;
	overflow:visible;
	
	.count {
		position: absolute; 
		left: -15px; top: 50%; 
		margin-top: -20px;
		width: 40px; height: 40px;
		border: 3px solid #fff; border-radius: 50%;
		color: #fff;
		background: $greenColor;
		line-height: 36px;
		font-size: 20px;
		text-align: center; 
		
	}

}

@media screen and (max-width: 900px) {
	#question-form { 
		float: none; 
		width: auto;
	}
}

/* help blocks grid */
.help-blocks { 

	padding-top: 40px;
	@include display( flex );
	
	.phone { 
		font-size: 24px; 
		display: block; 
		color: $greenColor;
		text-align: center;
		margin: 0 0 20px;
	}
	
	.title { margin: 0 0 10px; }
	
	.blocks-col {
		padding: 0 20px;
		@include display( flex );
		@include flex-direction( column );
		/* @include justify-content( center ); */
		@include flex( 1 2 380px );
	
		&:first-child { @include order( -2 ); }
	}
	
	.help-form-wrap { 
		padding: 0 30px;
		border: solid #efefef;
		border-width: 0 1px;
		text-align: center; 
		@include order( -1 ); 
		@include flex( 2 1 480px );
		
		.body-form {
			margin: 15px 0;
			text-align: left;
		}
		
		input,
		textarea {
			border-color: #dcdcdc;
			background: #f9f9f9;
		}
		
	}
}

.help-block {
	text-align: center; 
	padding: 0 20px 20px;
	
	& + .help-block { 
		border-top: 1px solid #efefef; 
		padding-top: 20px;
	}
	
	
	.button,
	p { margin: 0 0 10px; }
	.button { width: 285px; max-width: 90%;}
}

@media screen and (max-width: 1000px) {
	.help-blocks { 
		padding-top:0;
		display: block; 
		
		.blocks-col {
			@include flex-flow( row wrap );
		}
		
		.help-block { 
			padding: 20px !important; border: none !important; 
			
			@include flex( 1 0 280px );
		}
		
		.help-form-wrap { 
			text-align:left; 
			padding:30px 0 0;
			border: none;
		}
		
	}
}

/* themed filter area */
.filter-bar {
	.count {
		font-size:  18px;
		line-height: 60px;
	}
	
	.num { font-size: 24px; }
	
}

.filter-bar .num,
.filter-controls button { border-radius:14px;}
.filter-controls button { width: 50px; }

/* themed blocks */
.blocks {

	.item { border: 1px solid #d5d5d5; }
	
	a.block {
	
		@include transition( background 0.2s $ease-in-out-sine );
		
		&:hover {
			background: #f4f4f4;
		}
	}
	
	.title-block { margin: 0 0 10px; }
	
	.heading {
		font-family: $defaultFontStack;
		font-weight: normal;
		margin:0;
	}
	
	.title { color: $greenColor; }
	.subtitle { color: $greyColor; }
	
	p { color: $greyColor; }
	
	.time,
	.time time { @include display( flex ); }
	
	&.list-view {
		.time {  right: auto; }
	}
	
	time { margin: auto; }
	
	.time {
		position: absolute;
		top:0; left:0; right:0; 
		
		.tag,
		.day,
		.month-year { border-radius:0; }
		
		.tag,
		.day {
			margin-right: 1px;
			padding: 0 14px;
			font-size: 28px;
			@include display( flex );
			@include align-items( center );
		}
		
		.tag { font-size: 20px; }
		
		.month-year { padding: 4px 8px; }
		.month { font-size: 18px; }
		.year { font-size: 16px; }

	}
}

@media screen and (max-width: $blocksRemoveImgAtWidth) {
	.blocks {
		.time { position: static; }
		time { margin: 0 0 10px; }
	}
}

.showcase-section-nav {

	.sw { max-width: 100%; }

	.col {
		border: solid darken($greenColor,10);
		border-width: 0 1px 0 0;
		&:last-child { border: none; }
	}
	
	.wsf {
		color: #fff;
		text-align: center; 
		padding: 10px; 
		font-size: 18px;
		text-transform: uppercase; 
		@include transition( background 0.2s $ease-in-out-sine );
		
		&:before { 
			display: block; 
			font-size: 82px; 
			padding-bottom: 10px; 
		}
		
		&:hover { background: rgba(0,0,0,0.2); }
	}

}

@media screen and (max-width: $gridCollapseExtraSmall) {
	.showcase-section-nav .col { border-width: 0 0 1px;}
}

/* product section */
.product-content {

	height: 0;
	overflow: hidden;
	background: #f2f2f2;
	position: relative;
	@include transition( 0.4s height $ease-in-out-sine );
	
	&:before {
		opacity:0;
		@include transition( 0.2s opacity $ease-in-out-sine );
	}
	
	&.loading {
		height: 400px;
		
		&:before {
			opacity:1;
			@include transition-delay( 0.3s );
		}
	}
	
	&.loaded { 
		height: auto;
		.product { opacity:1; }
		&:before { @include transition-duration( 0s ); }
	}
	

	.product {
		opacity:0;
		@include transition( 0.2s opacity $ease-in-out-sine );
		padding: 30px 0;
		
		.section-title { width: auto; }
		
		.tab {
		
			padding: 20px 0;
		
			.tab-controls { 
				margin: 10px 0 10px -10px;
				overflow:hidden;
			}
			
			.tab-control {
				display: block;
				float: left;
				padding: 10px;
				margin-right: 1px;
				text-transform: uppercase;
				font-weight: bold;
				color: $greyColor;
				cursor: pointer;
				line-height: 1;
				border-radius: 6px;
				
				&:hover,
				&.selected { 
					color: #fff;
					background: $greenColor;
				}
			}
			
		}
		
	}
	
	.product-tab-nav {
		color: #fff;
		width: 100%; 
		border: solid $greenColor;
		border-width: 1px 0;
		@include display( flex );
		
		.selector { display: none; }
		
		.tab-control {
			border: solid rgba(0,0,0,0.2);
			border-width: 0 1px;
			cursor: pointer;
			vertical-align: middle;
			text-transform: uppercase; 
			text-align: center; 
			padding: 12px;
			@include transition( 0.2s all $ease-in-out-sine );
			@include flex( 1 1 1px );
			@include display( flex );
			@include align-items( center );
			
			
			&.selected,
			&:hover { 
				background: #fff;
				color: $greenColor;
			}
			
			span {
				display:block;
				@include flex-grow( 1 );
				&:before { padding-right: 10px; }		
			}
		}
		
		@media screen and (max-width: 750px) {
			.tab-control { display: none !important; }
			.selector { 
				display: block; 
				margin:0;
				@include flex-grow( 1 );
			}
		}
		
	}

}

.product-features-wrap {
	
	@include display( flex );
	@include align-items( flex-start );
	
	.extra {
		margin-left: 10px;
		@include flex( 1 1 380px );
		
		&>p { margin-bottom: 20px; }
	}
	
	.features-list {
		@include display( flex );
		@include flex-flow( row wrap );
		@include flex( 1 1 780px );
		@include order( -1 );
		margin-left: -25px;
		
		
		li {
			width: 50%;
			padding: 10px 25px;
			min-width: 280px;
			
			@include display( flex );
			@include flex( 1 1 auto );
			@include align-items( center );
			
			.lazybg,
			p { @include flex( 0 1 50% ); }
			
			.lazybg { margin-right: 10px;  }
			
		}
		
	}
	
}

@media screen and (max-width: 900px) {
	.product-features-wrap { display: block; }
}

.product-nav {
	
	$borderColor: #1a1a1a;
	overflow: hidden;
	
	.nav-controls { display: none; }
	
	@media screen and (min-width: 600px) {
		.sw { padding: 0 40px; }
		
		.nav-controls {
			position: absolute;
			display: block;
			top: 50%; left:0; right:0;
			margin-top: -27px;
			
			button {
				outline: none;
				@include t-fa-abs();
				position: absolute;
				left:0; top:0;
				width: 34px; height: 34px;
				
				&:before { 
					color: #fff;
					content: $fa-var-angle-left; 
					@include t-fa-offset(34px,1);
				}
				
				&.next { 
					left: auto; right:0; 
					&:before {
						content: $fa-var-angle-right;
					}
				}
				
			}
		}
	}
	
	.outer-product-nav {
		overflow: hidden;
		margin-bottom: -20px;
		position: relative;
		
		&:after,
		&:before {
			content:"";
			position: absolute;
			top:0; bottom:0; width: 10px; left: -10px;
			box-shadow: 5px 0 5px rgba(0,0,0,0.4);
			z-index: 2;
		}
		
		&:after {
			left: auto;
			right: -10px;
			box-shadow: -5px 0 5px rgba(0,0,0,0.4);
		}
	}
	
	.inner-product-nav {
		text-align: center;
		overflow: auto; 
		-webkit-overflow-scrolling: touch;
		@include display( flex );
		border: solid $borderColor;
		border-width: 0 1px;
	}
	
	.nav-element {
		@include flex( 1 0 170px );
		color: #fff;
		display: block;
		text-transform: uppercase;
		border-right: 1px solid $borderColor;
		padding: 10px 0 20px;
		position: relative;
		@include transition( 0.15s all $ease-in-out-sine );
		
		&:after {
			position: absolute;
			top:0; left:0; right:0;
			content:"";
			height: 5px;
			display: block;
			background: $greenColor;
			@include transform( scale(0,1) );
			@include transform-origin( top left );
			@include transition( 0.2s transform $ease-in-out-quint 0.2s );
		}
		
		
		&.selected,
		&:hover {
			background: #fff;
			color: #aaafa8;
			
			&:after {
				@include transform( none );
			}
		}
		
		&:before {
			display: block; 
			padding: 0 0 8px; 
			font-size: 40px;
		}
		
	}
	
	@media screen and (max-width: 500px) {
		.nav-element {
			font-size: 14px;
			@include flex-shrink( 1 );
			min-width: 100px;
			&:before { font-size: 28px; }
		}
	}
	
}

.product-specifications-wrap {
	padding: 40px 0;
	@include display( flex );
	@include flex-flow( row wrap );
	@include align-items( flex-start );
	
	.lazybg {
		position: relative; 
		@include flex( 1 4 300px );
		text-align:center;
	}
	
	.imgmap {
		max-width: 100%;
		display: inline-block; 
		position: relative;
		
		.s {
			$size: 20px;
			position: absolute; 
			width: $size; height: $size;
			background: $greenColor;
			border-radius: $size;
			margin: -($size/2) 0 0 -($size/2); /* 50% offset from top left */
			
			&:hover,
			&.selected {
				@include transform( scale(1.25,1.25) );
			}
		}
	}
	
	.product-specifications>ul:first-child li,
	.imgmap .s {
		@include transition( 0.2s $ease-in-out-sine );
	}
	
	@media screen and (min-width: 850px) {
		.product-specifications>ul:first-child li:hover,
		.product-specifications>ul:first-child li.selected,
		.imgmap .s:hover,
		.imgmap .s.selected {
			
			@include transition-property( background,transform );
			cursor: pointer;
			background: #fcb62d;
		}
	}
	
	.product-specifications {
		padding-left: 40px;
		@include flex( 3 1 500px );
		
		@media screen and (min-width: 500px) {
			ul {
				@include column-count( 2 );
				@include column-gap( 10px );
			}
		}
		
		li {
		
			display: inline-block;
			width: 100%;
			padding: 10px;
			margin-bottom: 10px;
			background: #fff;

		}
		
	}
	
	.extra { @include flex( 0 1 100% ); }
	
	@media screen and (max-width: 850px) {
		.extra h4,
		.lazybg { display: none; }
		.product-specifications { padding-left:0; }
	}
	
}

/* build-price */
.show-bp { overflow: hidden; }

.bp-content {

	&:before,
	&>div {
		@include transition( 0.2s opacity $ease-in-out-sine );
	}
	
	&:before { opacity:0; }
	&>div { @include transition-delay( 0.2s ); }
	
	.loading & {
		&>div { opacity:0; }
		&:before { opacity:1;}
	}
	
}

.build-price-window {
	
	background: #fff;
	position: fixed; 
	display:none;
	top:0; left:0; right:0; bottom:0;
	z-index: -10;
	opacity:0;
	@include transform-origin( center center );
	@include transform( scale(0.8,0.8) );
	@include transition( 0.2s all $ease-in-out-sine );
	
	.show-bp & {
		opacity:1;
		@include transform( none );
		z-index: 999;
	}
	
	.close {
		color: $greenColor;
		position: absolute; 
		top: 50%; right: 20px;
		text-transform: uppercase;
		margin-top: -8px;
		font-size: 16px;
		font-weight:bold;
		
		&:before { padding-right: 10px; }
	}
	
	.bp-wrap {
		height:100%;
		@include display( flex );
		@include flex-flow( column nowrap );
	}
	
	.title-bar { 
		width:100%;
		background: #efefef; 
		@include flex( 0 0 auto );
	}
	
	.bp-content {
		width:100%;
		@include display( flex );
		@include flex( 1 1 auto );
		overflow-x:hidden;
		overflow-y:auto;
		-webkit-overflow-scrolling: touch;
		
		&>div { 
			width: 100%; 
			@include transform( translateZ(0) );
		}
		
		h2 { font-family: $defaultFontStack; }
		
		.sw {
			@include display( flex );
			@include align-items( center );
		}
		
		.lazybg { 
			@include flex( 1 2 300px ); 
			img { margin: 40px 0; }
		}
		.swiper-wrapper { 
			margin: 40px 0 40px 40px;
			@include flex( 2 1 700px ); 
		}
		
		.swipe-wrap { 
			@include display( flex );
			@include align-items( center );
		}
		
	}
	
	.title-wrap {
		position: relative;
		padding: 20px 60px 20px 0;
		
		.title { 
			margin:0; 
			padding-right: 20px; 
		}
		
		.type { 
			color: $greyColor;
			font-size: 18px;
		}
		
		.title,
		.type {
			display: inline-block;
			vertical-align: middle; 
		}
	}
	
	.bp-nav {
		overflow:hidden;
		.sw { @include display( flex ); }
		
		.selector { display: none; }
		
		button {
			padding: 10px 10px 10px 15px;
			@include flex( 1 1 auto );
			text-transform: uppercase;
			color: #fff; 
			position:relative;
			z-index:4;
			
			&:after,
			&:before {
				position:absolute;
				content:"";
				top:50%; left: 100%;
				margin: -25px 0 0 0;
				border: solid transparent;
				border-width: 25px 11px;
				border-left-color: $darkGreenColor;
			}
			
			&:after {
				border-left-color: $greenColor;
				margin-left: -1px;
			}
			
			&:hover,
			&.selected {
				background: #fff;
				color: $greenColor;
				z-index: 3;
				
				+ button { 
					z-index: 2; 
					+ .selected,
					+ :hover { z-index:1; }
				}
				
				&:after { border-left-color: #fff; }
				
			}
		}
		
		
	}
	
	.body-form {
		input,
		textarea { 
			border: 1px solid #e1e1e1;
			background: #fafafa;
		}
	}
	
	.options,
	.option,
	span.b { @include display( flex ); }
	
	.options {
		@include flex-flow( row wrap );
		margin: 0 0 15px -15px;
		
		&.equal .option { 
			@include flex( 1 1 auto ); 
			.button { width: 100%; }
		}
		
		.option {
			margin-top: 15px;
			padding-left: 15px;
			max-width: 33.3333%;
		}
		
		&.colors .option {
			width: 20%;
			
			span.b {
				padding:0;
				opacity:0.5
			}
			
			&.selected span.b,
			span.b:hover { opacity:1; }
			
		}
		
		.selected span.b,
		span.b:hover { 
			border-color: rgba(0,0,0,0.3); 
			background: $greenColor;
		}
		
		span.b {
			border-radius: 4px;
			background: $darkGreenColor;
			padding: 20px;
			border: 4px solid transparent;
			text-align:center;
			@include align-items( center );
			@include transition( 0.2s all $ease-in-out-sine );
			width:100%;
			color: #fff; 
			font-size: 24px; 
			position: relative; 
			
			span {
				display:block;
				text-align:center;
				width:100%;
			}
			
			.fa { 
				cursor: pointer;
				position: absolute; 
				top: 10px; right: 10px; 
				color: #fff;
				z-index: 9999;
			}
			
		}
		
	}
	
	.tooltip-selectors { display: none; }
	
	/* collapse nav and image */
	@media screen and (max-width: 900px) {
		
		.title-wrap {
			padding:0;
			
			.title,
			.type {
				display: block;
			}

			.title { 
				font-size: 28px;
				padding: 0;
			}
			
		}
		
		.close {
			text-indent: -999em;
			display: block;
			width: 40px;height: 40px;
			top: 10px;right: 0;
			
			&:before {
				padding:0;
				font-size:32px;
				top:0;right:0;
				text-indent:0;
				position:absolute;
			}

		}
		
		.bp-content {
			.lazybg { display: none; }
			.swiper-wrapper { margin: 30px 0 0; }
			.swipe-wrap { @include align-items( flex-start ); }
		}
		.bp-nav {
			.selector { display: block; width:100%; margin:0;}
			button { display: none; }
		}
	}
	
}