$searchOffset: 60px;

.search-form {
	line-height: $searchOffset;
	background: $greenColor; 
	border: none; 
	position: fixed; 
	top:-$searchOffset; 
	left:0; 
	right:0; 
	z-index:100;
	
	&:after { display: none; }
	
	input,
	.fa-search {
		color:#fff; 
		font-size: 28px; 
		outline:none;
	}
	
	.fa-search {
		&:before {
			font-size: 28px;
			margin-top: -14px;
		}
	}
	
	input {
		padding-right: 50px; 
		font-weight: 300; 
		font-family: $defaultFontStack; 
		
		@include placeholder {
			color: #fff; font-size: 28px; 
		}	
		
	}
	
	button { z-index: 10; }
	
}

.search-bg {

	position:fixed; 
	top:$searchOffset; 
	left:0; right:0; bottom:-100px; 
	content:""; 
	opacity:0; 
	background: #000; 
	visibility: hidden; 
	z-index: -1; 
	cursor: pointer; 
	display:block;
	@include transition( opacity 0.25s $ease-in-out-sine 0.3s );
	
	.show-search & {
		z-index: 100; 
		opacity:0.6; 
		visibility: visible;
		@include transform( translateZ(0) );
	}
	
}

.search-form,
.nav-wrap,
.header-logo {
	@include transition( transform 0.3s $ease-in-out-sine );
}

.show-search {

	.search-form,
	.nav-wrap,
	.header-logo {
		@include transform( translate3d(0,$searchOffset,0) );
	}
	
}