$fieldBackgroundColor: #fff;
$fieldTextColor: #000;
$fieldPlaceHolderColor: #aaa;
$fieldBorderColor: transparent;
$fieldFocusedBackgroundColor: #efefef;
$fieldSpacing: 10px;
$fieldPadding: 14px;

/* form stuff */
.single-form { position: relative; padding-right: 30px; background: #fff; max-width: 100%; border: 1px solid #e7e7e7; overflow: hidden;}
.single-form input { border: none; background: transparent; width: 100%; padding: 8px; position: relative; z-index: 4;}
.single-form button { position: absolute; right: 4px; top:0; bottom:0; text-indent: -999px; overflow: hidden; width: 30px;}
.single-form button:before { 
	@include fa-icon();
	position: absolute; top: 50%; margin-top: -10px; font-size: 20px; left:0; right:0; text-align:center; text-indent:0; line-height:1;
}
.single-form:after { content:""; position: absolute; top:4px; bottom: 4px; right: 44px; border-left: 1px solid $bodyContentColor; z-index: 10;}

.body-form { 

	max-width: 600px;
	
	&.full { max-width: none; }
	
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=tel],
	select,
	textarea { 
		font-size: 14px; 
		color: $fieldTextColor; 
		padding: $fieldPadding; 
		width: 100%; 
		display: block; 
		margin: 0 0 $fieldSpacing; 
		font-family: arial,helvetica,sans-serif; 
		background: $fieldBackgroundColor; 
		border: 1px solid $fieldBorderColor;
		@include transition( background $ease-in-sine 0.15s ); 
		@include placeholder {
			color: $fieldPlaceHolderColor;
		}
		
		&:focus { background: $fieldFocusedBackgroundColor; }
		
	}
	
	textarea { height:225px; }

	.field-wrap {
		display: block; 
		background: $fieldBackgroundColor; 
		border: 1px solid $fieldBorderColor; 
		margin: 0 0 $fieldSpacing;
		
		&.t-fa { padding-left: 20px; }
		
		input { margin:0 !important; }
		
		input,
		textarea {
			border: none !important;
			&:focus { background: none !important; }
		}
	}
	
}