.social {
	
	a { 
		@include t-fa-abs(); width: 28px; height: 30px;
		&:before { color: $greyColor;
			@include t-fa-offset(18px,1.4);
		}
		&:hover:before { color: $greenColor; }
	}
	
	& .fb:before { content: $fa-var-facebook; }
	& .tw:before { content: $fa-var-twitter; }
	& .in:before { content: $fa-var-linkedin; }
	& .yt:before { content: $fa-var-youtube; }
	
}