/* hero */
.page-wrapper { border: 1px solid transparent; }

.hero {
	position: relative;
	background: #000;
	z-index:3;
	
	.swiper-wrapper {
		position: absolute; 
		top:0; left:0; bottom:0;
		width: 100%; 
	}
	
	
	&.single {
		.swipe-wrap>div { float: none; }
		.caption p { text-align:right; }
	}
	
	.swipe { @include transition-delay( 0.2s );  }
	
	.item {
		position: absolute; 
		top:0; left:0; bottom:0;
		width: 100%; 
		z-index: 1; 
		background-repeat: no-repeat; 
		background-size: cover; 
		background-position: center center; 
		display: block;
	}
	
	.swipe,
	.item { 
		opacity:0;
		@include transition( opacity $ease-in-sine 0.4s );
	}
	
	&.loaded .swipe,
	.loaded>.item { opacity:1; }
	
	.caption {
		position: absolute; 
		left:0; right:0; bottom:0; 
		z-index: 10; 
		font-size: 20px; 
		background: rgba(0,0,0,0.75); 
		border-top: 1px solid #fff; 
		color: #fff; 
		padding: 30px 0;
		@include transform( translateZ(0) );
		
		.sw {
			text-align: left; 
			@include display( flex );
			@include justify-content( space-between );
			@include align-items( center );
			@include flex-wrap( wrap );
		}
		
		.title,
		p,
		button { margin-bottom: 15px; }
		
		.title {
			color: #fff; 
			line-height: 1;
			@include flex-grow( 2 );
		}
		
		p {
			@include flex-grow( 1 );
		}
		
		.button { text-align: center; }
		
	}
	
}

.hero,
.hero .swipe-wrap>div {
	height: 100vh; max-height: 800px; min-height: 600px;
}

@media screen and (max-width: $collapseNavAt) {

	.hero,
	.hero .swipe-wrap>div { min-height: 400px; }
	.hero .caption {
	
		padding: 10px 0;
		
		.sw {
			text-align: center;
			display: block;
		}
		
		.title { font-size: 38px; }
		p { font-size: 16px; text-align:center !important;}
		.button { font-size: 14px; padding: 10px; }

	}
}