/* background clips */

.bgclipper { background: #000; position: relative; display: inline-block; }

.bgclipper .bgclip-clipped { margin:0; opacity:0.4;}
.no-backgroundclip .bgclipper .bgclip-wrap { display: none; }
.no-backgroundclip .bgclipper .bgclip-clipped { opacity:1; filter: alpha(opacity=100); }
.no-backgroundclip .bgclipper:hover .bgclip-clipped { opacity:0.4; filter: alpha(opacity=40); }
.backgroundclip .bgclip-wrap { position: absolute; top:0; left:0; right:0; bottom:0; font-size: 80px; text-align: center; background-size: cover; text-indent: -999em; overflow: hidden; height: 100% !important;}
.backgroundclip .bgclipper:hover .bgclip-wrap { text-indent:0;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}